.info-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.info-icon:hover .tooltip {
    visibility: visible;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: normal;
    width: 200px;
    z-index: 1;
    font-size: 12px;
  }